/* ------- Minimal Reset ------- */
html, body, p, ol, ul, li, hr, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400; font-family: inherit; color: #353536; }
ol, ul { list-style: none; }
button, input, select, textarea { margin: 0; font: inherit; color: inherit; }
button { background: none; border: none; padding: 0; cursor: pointer; }
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
img, video { display: block; height: auto; max-width: 100%; }
table { border-collapse: collapse; }
td, th { padding: 0; text-align: left; font-weight: 400; }
a { color: inherit; text-decoration: none; }

/* ------------------------------ */
/*             Global             */
/* ------------------------------ */
body {
  font-family: 'Noto Sans TC', 'Century Gothic' , 'PingFang TC', 'Helvetica Neue', 'Microsoft YaHei', 'Roboto', system-ui, -apple-system, sans-serif;
  color: #353536;
  font-size: 1rem;
  position: relative;
  background: #f7f7f8;
  position: relative;
  -webkit-font-smoothing: antialiased;
  padding: 48px 16px 80px;
}

a { transition: all .2s; }

a:hover {
  color: inherit;
  text-decoration: none;
}

main { display: block; }

.uk-container { box-sizing: border-box; }

/* ------------------------------ */
/*        Notice Container        */
/* ------------------------------ */
.notice-container {
  background: #fff;
  margin-bottom: 24px;
  border-radius: 11px;
  box-shadow: 4px 12px 24px rgba(42, 42, 43,.05);
  overflow: hidden;
}

header {
  padding: 24px 48px;
}

.btn-back { 
  color: #e86c1e;
  border: 2px solid rgba(232, 108, 30, .3); 
  padding: 6px 16px;
  border-radius: 25px;
  font-weight: 700;
}

.btn-back:hover {
  color: #e86c1e;
  background: rgba(232, 108, 30, .1); 
}

.section-hero { 
  padding: 56px 16px; 
  /* background: linear-gradient(25deg, #4f63b5, #33499e); */
  /* background: linear-gradient(125deg, hsl(207, 54%, 51%), hsl(207, 63%, 45%)); */
  background: #3d414c;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 130%;
  color: #fff;
}

.main-content {
  padding: 32px 48px;
  font-size: .925rem;
}

/* TEMP: */

.main-content .box { margin-bottom: 24px; }

.main-content .box-content { 
  color: #5d5d5f;
  font-size: .93rem;
}

.main-content .box-title {
  font-size: 1.125rem;
  font-weight: 500;
  border-bottom: 1px solid #eaeaeb;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.main-content ol { 
  list-style-type: decimal;
  padding-left: 20px;
}

.main-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.main-content ul  ul {
  list-style-type: circle;
}

.main-content a {
  color: #e86c1e;
  font-weight: 500;
}

.main-content .highlight {
  font-weight: 700;
  /* color: #1455bd; */
  color: #353536;
  border-bottom: 1px solid;
  /* font-family: 'Arial', sans-serif; */
}
/* END: */

/* ------------------------------ */
/*             Footer            */
/* ------------------------------ */
footer { font-size: .925rem; color: #5d5d5f; }

/* ------------------------------ */
/*             RWD            */
/* ------------------------------ */
@media screen and (max-width: 640px) {
  .uk-container { padding: 0; }
  header { padding: 16px 24px;}
  header img { width: 120px; }
  .btn-back { font-size: .925rem; }
  .section-hero { padding: 32px 16px; }
  .hero-title { font-size: 1.5rem; }
  .main-content { padding: 24px 32px; }
  .main-content .box-title { font-size: 1rem; }
}

@media screen and (max-width: 480px) {
  header { flex-direction: column; padding: 16px 16px; }
  header img { margin-bottom: 16px; }
  .btn-back { width: 100%; }
  .hero-title { font-size: 1.25rem; }
  .main-content { padding: 16px 24px; }
}