@charset "UTF-8";
/* CSS Document */
/*第二波底圖*/
.promotion2_bg{
	background-color: #F5F2F2; width: 100%;
	clip-path: polygon(0 0, 100% 2%, 100% 97%, 0% 100%);
	position: static;
	z-index: 100;
	padding-bottom: 30px;
}
.promotion2_title{    width: fit-content;
    border: 1px solid #000;
    padding: 12px;
    text-align: center;
    margin-left: 30px;
    position: relative;
    top: 30px;
    font-size: 1.2rem;}
.promotion2_title>p{background: #000;
    color: #FFF;
    display: inline;
    padding: 3px 15px;
    letter-spacing: 5px;}
.promotion2_bg1{
	background-color: #000; width: 100%;
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
	position: static;
	z-index: 100;
	padding: 20px;
	text-indent: 20px;
text-align: center;font-size: 1.5rem;color:#fff;
}
.promotion2_bg2{
	width: 100%;
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
	position: static;
	z-index: 101;
	/*border-top: 2px dashed #575656;*/border-top: 2px dashed #dadada;
}
#vonchar .special-tgo{padding-bottom: 0px;}

.section-5000 { 
background: linear-gradient(286deg, #FAF0F3 0%, #EDEBF2 100%);
	margin-bottom: 80px;margin-top: 0px;
}

.section-tholiday2{background-color: #FFF;padding: 0px 36px;}
.special-box{margin:-40px;}

.section-combo .special-title{margin:16px;}
.uk-flex-middle {
    margin: 0px auto;
}
.section-membership .sale-dates{margin-top:10px;}
.preview{
  cursor: none;
  background-image: linear-gradient(92.79deg, #e6a47b, #eec671, #e8c781, #e9b28f);
  color: #fff;
  padding: 12px 64px;
  border-radius: 50px;
  font-size: 1.125rem;
  font-weight: 500;
  box-shadow: 0px 4px 16px  rgba(223, 113, 36, .5);
  margin-bottom: 18px;
font-weight: 600;
  background-size:300% 100%;
  transition: all cubic-bezier(.4,0,.2,1) .3s;
}
/*選單*/
	    .nav-5000{background-image: url("images/menu_01.png");
			background-position: 20px 0px;background-repeat: no-repeat;background-size:84px 60px; }
		.nav-55{background-image: url("images/menu_02.png");
		background-position: 20px 5px;background-repeat: no-repeat;background-size:84px 60px; }
	    .nav-tHotel{background-image: url("images/menu_03.png");
			background-position: 30px 5px;background-repeat: no-repeat;background-size:84px 60px; }
		.nav-tCar{background-image: url("images/menu_04.png");
		background-position: 20px 5px;background-repeat: no-repeat;background-size:84px 60px; }		
		
		.nav-5000>span{display: inline-block; position: static; 
			padding: 12px 20px 10px 100px;}
			.nav-55>span{display: inline-block; position: static; 
			padding: 12px 20px 10px 130px;}
			.nav-tHotel>span{display: inline-block; position: static; 
			padding: 12px 20px 10px 110px;}
			.nav-tCar>span{display: inline-block; position: static; 
			padding: 12px 20px 10px 120px;}
		
		.uk-container-small {max-width: 80%;height:fit-content;}
		.nav-item{font-size: 1.2rem;min-height: 60px;text-align: center;}

.uk-child-width-1-4>* {
    width: 20%;
}
#hotels .special-box{margin: 0px 0px -20px 0px;}
#hotels .bonus{margin: 20px 0px 20px 0px;}

@media screen and (max-width: 1200px){
.section-membership .promo-thumbnail, .section-student .promo-thumbnail{margin:0px;}
.special-box {margin:-10px;}
	.uk-container-small {max-width: 100%;}
	.uk-first-column{box-sizing: 80%;font-size: 1rem;}
	.nav-item{font-size: 1.1rem;}
/*加碼優惠*/
.promotion2_title{    width: fit-content;
    border: 1px solid #000;
    padding: 12px;
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: 30px;
    font-size: 1.2rem;}
.promotion2_title>p{background: #000;
    color: #FFF;
    display: inline;
    padding: 3px 15px;
    letter-spacing: 5px;}
}
@media screen and (max-width: 640px){
	.promo-flash{padding-top:0px;}
	.go-dates {display: block;margin-left:0px;}
	.section-membership .sale-dates{display: block;margin-top: 0px;}
	.nav-item{font-size: 1rem;}
}
